blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,pre,textarea,ul {
    margin: 0;
    padding: 0
}

img {
    border: 0;
    display: block
}

ul {
    list-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

button,input {
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit
  }

a {
    color: #666;
    text-decoration: none
}

html {
    background: url('img/bg.gif')
}

body {
    font: 12px "Courier New", Courier, monospace!important;
    color: #666
}

#main {
    margin: 150px auto 0 auto;
    text-align:center;
    max-width: 1200px;
    min-width: 800px;
}

#main ul {
    padding: 10px 0;
    height: 50px;
    display: inline-block;
    margin: 0 auto;
}

#main li {
    position: relative;
    margin-right: 1em;
    font-family: Frutiger,Helvetica,sans-serif;
    font-size: 16px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    float: left;
    color: #999;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    /*-moz-border-radius: 5px;*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);
    /*-moz-box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);*/
    box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);
    background: #fff;
    /*background: radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);*/
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(16%,#fff),color-stop(75%,#f6f6f6),color-stop(100%,#ededed));
    background: -webkit-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    /*background: -o-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);*/
    /*background: -ms-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);*/
    /*background: -moz-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1)*/
}

#main li:hover {
    margin-top: 3px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
    /*-moz-box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);*/
    box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
    -webkit-transition: all 0.1s linear;
}

/*KeyboardStartPage*/
.he-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden
}

.he-view-show {
    visibility: visible
}

.he-view a {
    opacity: .2;
    background-size: 16px 16px;
}

.he-view a:hover {
    opacity: 0.4;
    -webkit-transition: all 0.2s linear;
}

.he-view .edit
{
    background-image:url('img/add.png');
    left: 8px;
}
.he-view .delete
{
    background-image:url('img/delete.png');
    right: 8px;
}

#main div a {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
}

#main li:hover .fav{
    margin-bottom: 0; /* fav would be 'pressed down' when hover */
    opacity: .1;
    -webkit-transition: all 0.2s linear;
}

.fav {
    position: absolute;
    bottom: 3px;
    left: 3px;
    /*width: 16px;*/
    /*height: 16px;*/
    border-radius: 5px;
    opacity: .6;
    /*box-shadow: 0 1px 2px #333 inset;*/
}

.hide {
    display: none;
}